# Site Summary

## Setup

In [1]:
from pandas import DataFrame
import numpy as np
import time

import reporting.common.system as system
import reporting.services.site.site_service as site_service
import reporting.services.tsda.tsda_service as tsda_service

In [2]:
curr_proj = system.get_curr_proj()

## Define

In [3]:
SENSOR_TYPE = 'pressure'

def show_cell(val):
    print(val)
    color='red' if val == 'I' else 'green'
    return 'color:%s'% color

## Generate Table

In [4]:
print("Generate Site Summary Table for Project: "+curr_proj+" on sensor "+SENSOR_TYPE)

Generate Site Summary Table for Project: shlingang on sensor pressure

In [5]:
sitetable = []
for site in site_service.get_all_sites():
    # print(site)
    if not site['device_ref'].startswith('004'): continue
    t,v = tsda_service.read_last(str(site['_id'])+'-'+SENSOR_TYPE)
    sitetable.append([str(site['_id']),site['name'],site['device_ref'],site['status'],
                      time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(t)/1000)),"%.2f" % float(v)])
    
# sitetable

2019-05-12 21:40:37,080 -     root -     INFO: MONGO_CLIENT not defined, initialized MongoDB Client.

In [6]:
df = DataFrame(sitetable, columns = ['ID','Name','Reference','Status','Last Time','Last Reading'])

df.to_csv("site_summary_"+time.strftime("%Y-%m-%d-%H-%M", time.localtime())+".csv")
df

,ID,Name,Reference,Status,Last Time,Last Reading
0,5a6eb4e70b272a1f64fa26b5,万水路新元南路,00422002,N,2019-05-12 21:40:25,5.86
1,5a6eb4e70b272a1f64fa26b6,沧海路中（中港柴油机制造）,00422001,N,2019-05-12 21:23:45,75.88
2,5a6eb4e70b272a1f64fa26b7,南芦公路（芦潮港，果园泵站）,00422004,N,2019-05-12 21:24:15,5.76
3,5a6eb4e70b272a1f64fa26b8,芦五公路,00422003,N,2019-05-12 21:19:25,75.78
4,5a6eb4e70b272a1f64fa26b9,倚天路沧海路,00422005,N,2019-05-12 21:40:25,40.71
5,5a6eb4e70b272a1f64fa26bc,层林路沧海路（上海电气）,00422006,I,2019-05-12 21:40:25,20.70